<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>xinyi</title>
    <link href=/static/css/app.0524a85a170f1b8410699cc29e4417e6.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.dcdf21228d3e6a318924.js></script>
<script type=text/javascript src=/static/js/app.a0cc4c2e334388f64920.js></script>
</body>
</html>